* {
  color: #00100b;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  overflow: hidden; }

body {
  background-color: #e8ebf7; }

.topbar {
  width: 100vw;
  height: 6em;
  display: flex;
  align-items: center; }
  .topbar .logo {
    padding-left: 2em;
    width: 25%; }
    .topbar .logo img {
      width: 75px;
      height: auto; }
  .topbar .icon {
    width: 5%; }
  .topbar nav {
    width: 70%;
    justify-items: end;
    padding-right: 2em; }
    .topbar nav a {
      font-size: 24px;
      margin-right: 1.5em;
      text-decoration: none; }

.hover-underline-animation {
  position: relative;
  color: black;
  text-decoration: none; }

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out; }

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left; }
