* {
    // color: white;
    color: #00100b;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    overflow: hidden;
}

body {
    // background: linear-gradient(90deg, #0c3e50, #23a6d5, #0c3e50);
    // background-size: 150% 100%;
    background-color: #e8ebf7;
}

.topbar {
    width: 100vw;
    height: 6em;
    display: flex;
    align-items: center;

    .logo {
        padding-left: 2em;
        width: 25%;

        img {
            width: 75px;
            height: auto;
        }
    }

    .icon {
        width: 5%;
    }

    nav {
        width: 70%;
        justify-items: end;
        padding-right: 2em;

        a {
            font-size: 24px;
            margin-right: 1.5em;
            text-decoration: none;
        }
    }
}

.hover-underline-animation {
    position: relative;
    // color: #ffffff;
    color: black;
    text-decoration: none;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    // background-color: white;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
